@import url('css-components/header.css');
@import url('css-components/profile.css');
@import url('css-components/contacts.css');
@import url('css-components/skills.css');
@import url('css-components/code.css');
@import url('css-components/projects.css');
@import url('css-components/education.css');
@import url('css-components/footer.css');
@import url('css-components/queries.css');

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter.ttf");
}

:root {
  --border-radius: 7px;
  /* colors */
  --light-gray: #cdcdcd;
  --light-gray2: #b0b0b0;
  --gray1: #888888;
  --gray2: #666666;
  --dark-gray: #333333;
  --dark-maroon: #5a0416;
  --light-maroon: #fba6b8;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-family: Inter, sans-serif;
  word-spacing: 4px;
  background: linear-gradient(var(--gray1), var(--gray2));
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: var(--dark-maroon);
}

a:hover {
  color: var(--light-maroon);
}

h2 {
  margin-bottom: 20px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 100px 0px 20px 0px;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  width: 80%;
  max-width: 95%;
  margin: 30px 0px;
  padding: 40px 80px 60px 80px;

  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  box-shadow: 7px 7px 12px var(--dark-gray);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.right-side-section {
  align-self: flex-end;
}