.footer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  font-weight: bold;
  color: var(--light-maroon);
}

.footer-link {
  margin: 0 20px;
  font-size: 40px;
}

.rss-logo {
  width: 100%;
  max-width: 150px;
}

.footer-year {
  font-size: 60px;
}