.nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  display: flex;
  justify-content: center;

  background: var(--light-gray);
  box-shadow: 0px 0px 10px var(--dark-gray);
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style:none;
}

.nav-list-item {
  padding: 20px 0px;
  margin: 0px 20px;
}