.skills-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.skills-list-item {
  width: 20%;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.skills-logo {
  max-width: 60%;
  margin-top: 10px;
}
