.skills-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.skills-list-item {
  width: 12%;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.skills-list-item:hover .skills-logo{
  transform: rotateZ(20deg);
}

.skills-logo {
  max-width: 60%;
  margin-bottom: 10px;
  transition: 200ms;
}
